/***  Scrolling Navbar  ***/
#scrollNav {
	position: fixed;
	display: none;
	width: 100vw;
	height: 35px;
	background-color: #AB61C4;	
	overflow: auto;
}

#scrollNav div{
	padding: 0;
	padding-right: 23px;
}

#scrollNav li {
	display: inline;
	margin-right: 20px;
}

#scrollNav a{
	color: white;
}

/***  Hero Area With Header Navbar  ***/
#header{
	border-top: 3px solid #96bee3;
}

#hero li {
	display: inline;
	margin-right: 20px;
}

#hero{
	background-image: url("../img/shelby.png");
	background-size: cover;
}

#hero img{
	margin: 100px 0px 20px 0px;
}

#hero h2{
	margin-bottom: 250px;
	color: white;
	text-shadow: 2px 2px #000;
}

#hero span{
	color: #96dbee;
}