
/***  Scrolling Navbar  ***/

#scrollNav {
	position: fixed;
	top: -50px;
	left: 0;
	width: 100vw;
	height: 37px;
	background-color: #000;	
	overflow: auto;
	z-index: 5;
}

#scrollNav div.logo img{
	width: 170px;	
	margin-left: 50px; 
}

#scrollNav div.menu{
	padding: 0;
	padding-right: 7px;
}

#scrollNav li {
	display: inline;
	margin-right: 20px;
}

#scrollNav a{
	color: white;
}

#scrollNav a:hover{
	color: #AB61C4;
}

#scrollNav a:active{
	color: #4A235A;
}

/***  Hero Area With Header Navbar  ***/

#hero{
	background-image: url("../img/shelby.png");
	background-size: cover;
	padding: 0;
}

header{
	border-top: 3px solid #96bee3;
}

#hero header{
	position: relative;
	z-index: 10;
}
.overlay{
	background: rgba(0,0,0,.5);
	z-index: 5;
	width: 100%;
	height: 550px;
	position: relative;
	margin-top: -24px;
}

#hero li {
	display: inline;
	margin-right: 20px;
}

#hero a{
	color: #ffffff;
	text-decoration: none;
}

#hero h2{
	margin-bottom: 250px;
	color: white;
	text-shadow: 2px 2px #000;
}

#hero span{
	color: #96dbee;
}

.logoHero{
	position: absolute;
	z-index: 12;
	margin-top: -30%;